.menu-li{
  &:hover{
    background: rgb(247, 247, 247);
    @include lg{
      background: rgb(255, 255, 255);
      transform: scale(1.1);
    }
  }
  @include lg{
    width: auto !important;
  }
}
.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: #000;
  opacity: 0%;
  transition: .3s;
  z-index: 99;
  &.op20{
    opacity: 20%;
  }
  @include lg{
    display: none;
  }
}