body{
    position: relative;
}

img{
    display: block;
    height: auto;
    object-fit: cover;
}

button, button:focus{
    outline: none !important;
    border: none !important;
}

.navbar-light .navbar-toggler{
    color: #fff;
}
.mt130{
    margin-top: 130px !important;
}
.mb-tofooter{
    margin-bottom: 64px;
    @include lg{
        margin-bottom: 160px;
    }
}
.fsz-lg-40{
    @include lg{
        font-size: 40px;
    }
}
.fsz-lg-36{
    @include lg{
        font-size: 36px;
    }
}
.fsz-lg-28{
    @include lg{
        font-size: 28px;
    }
}
.fsz-lg-20{
    @include lg{
        font-size: 20px;
    }
}
.fsz-lg-16{
    @include lg{
        font-size: 16px;
    }
}
.h7{
    font-size: 12px;
}
.radious8{
    border-radius: 8px;
}
.radious20{
    border-radius: 20px;
}
.radious100{
    border-radius: 100px;
}
.lh-150{
    line-height: 1.5;
}
.ls-2helf{
    letter-spacing: 2.5px;
}
.w-lg-75{
    @include md{
        width: 100%;
    }
    @include lg{
        width: 75%;
    }
}
