.banner-bg{
    background: url('../images/banner-bg-sm.png') center no-repeat;
    background-size: cover;
    height: 580px !important;
    @include lg{
        background: url('../images/banner-bg-lg.png') center no-repeat;
        background-size: cover;
        height: 100vh !important;
    }
}
.banner-swiper-area{
    width: 202px;
    @include lg{
        width: 330px;
    }
    img{
        width: 202px;
        @include lg{
            width: 330px;
        }
    }
}
.banner-tittle{
    @include text-liner(linear-gradient(90deg, rgba(233, 95, 92, 1), rgba(161, 158, 197, 1), rgba(245, 184, 183, 1), rgba(233, 95, 92, 1), rgba(233, 95, 92, 1)));
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    @include lg{
        font-size: 60px;
        line-height: 120%;
    }
}
.banner-span{
    margin-left: 3px;
    line-height: 20px;
    @include lg {
        font-size: 20px;
        line-height: 120%;
    }
}