.service-pic{
    height: 343px;
    @include sm{
        height: 450px;
    }
    @include md{
        height: 360px;
    }
    background-size: cover;
    background-position: center;
}
.service-more-hover{
    transition: .2s;
    span{
        transition: .3s;
    }
    &:hover{
        color: #E95F5C !important;
        span{
            margin-left: 16px !important;
        }
    }
    
}