.memberPic{
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: .1s;
    &:hover{
        transform: scale(1.1);
        background: #EF8C8A !important;
    }
}
.adminMemberModal{
    max-width: 400px !important;
    opacity: 1;
    transition: 1s;
    &.op0{
        opacity: 0;
    }
}
